main {
    align-items: center;
    display: flex;
    flex-direction:column;
}

section {
    width: 90%;
    max-width: 600px;
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}