@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;

    --background-color: light-dark(white, rgb(29, 29, 29));
    --input-background-color: light-dark(white, rgb(53, 53, 53));

    --text-color: light-dark(black, white);
    --footer-text-color: light-dark(rgb(90, 90, 90), rgb(173, 173, 173));
    --button-text-color: white;
    --link-color: light-dark(#797979, #9e9e9e);

    --border-color: light-dark(lightgray, gray);
    --border-highlight-color: darkgray;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--background-color);
    box-sizing: border-box;
}

header ul {
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
}

header ul * {
    margin: 0 5px;
}

header img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    font-size: 15px;
    background-color: var(--input-background-color);
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 100px;
}

.show {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 15px;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* @media screen and (max-width: 1000px) {
    .menu {
        width: 100vw;
        height: 100%;
    }
} */

main {
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding: 50px 0;
}

footer p {
    margin: 3px 0;
    font-size: 14px;
    color: var(--footer-text-color);
}

footer p a {
    color: var(--link-color);
    text-decoration: none;
}