{% extends "layout.html" %}
{% block title %}Krll - URL Shortener{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='/about/style.css') }}">
{% endblock %}

{% block content %}
<main>
    <section>
        <h2>About Krll</h2>
        <p>Krll은 개인정보 수집 없이 URL을 단축하는 서비스입니다. 방해꾼 없이 빠르게 URL을 단축하고 공유하세요.</p>

        <h2>특징</h2>
        <ul>
            <li>개인정보 수집과 광고가 없습니다.</li>
            <li>단축 시 QR 코드가 함께 생성되어 다른 디바이스로 빠르게 공유할 수 있습니다.</li>
            <li>크롬, 파이어폭스 확장을 설치하여 웹사이트 내의 하이퍼링크를 우클릭 후 메뉴 선택 만으로 빠르게 단축할 수 있습니다.</li>
        </ul>

        <h2>브라우저 확장</h2>
        <p><a href="https://github.com/sunwoo1524/krll-chrome-extension">Chrome(스토어에 올라와있지 않아 직접 압축 파일로 다운로드하고 설치해야합니다.)</a></p>
        <p><a href="https://addons.mozilla.org/ko/firefox/addon/krll-url-shortener/">Firefox</a></p>

        <h2>규칙</h2>
        <p>이것들을 막을 방법은 없지만 안정적인 서비스 운영을 위해서 따라주세요.</p>
        <ul>
            <li>대한민국 법에 저촉되는 링크를 단축하지 마세요.</li>
            <li>스팸을 위해서 사용하지 마세요.</li>
        </ul>
    </section>
</main>
{% endblock %}
