{% extends "layout.html" %}
{% block title %}Krll URL Shortener{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='/index/style.css') }}">

<!-- QRCode.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Cloudflare Turnstile -->
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endblock %}

{% block content %}
<main>
    <div class="input-container">
        <input id="url" placeholder="Loooooooooooong URL" autofocus />
        <button id="to-shorten-btn">Shorten</button>
    </div>

    <!-- Cloudflare Turnstile widget -->
    <div
        id="captcha"
        class="cf-turnstile"
        data-sitekey="{{ cfts_site_key }}"
        data-callback=""></div>

    <div class="result-container" id="result-container">
        <p id="error">Your URL is invalid!</p>
        <p id="short-url"></p>
        <p id="copied">Copied!</p>
        <div id="qr-code"></div>
    </div>
</main>

<script>
    const host = "{{ host }}";
</script>

<script src="{{ url_for('static', path='/index/script.js') }}"></script>
{% endblock %}
