<!DOCTYPE html>
<html lang="ko">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/root.css') }}">

    <!-- Import Google Fonts Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />

    {% endblock %}
</head>
<body>
    <header>
        <ul>
            <a href="/"><img src="{{ url_for('static', path='/images/logo.png') }}" alt="Krll Logo"></a>
        </ul>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p><a href="/rule">Rule</a> · <a href="/about">About Krll</a> · <a href="{{ contact }}">Contact</a> · <a href="https://github.com/sunwoo1524/krll">GitHub Repository</a></p>
    </footer>
</body>
</html>